body {
    background-color: #1a1a1a; /* Темный фон */
    color: #ffffff;
    font-family: "Tiny5", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
   box-sizing: border-box;
    position: relative;
    font-size: 30px;
  }


.main-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
   box-sizing: border-box;
}

#search-input{
  font-family: "Tiny5", sans-serif;
    background: #1a1a1a;
    border: none;
    border-bottom: 5px solid #bb86fc;
    padding: 10px 20px;
    color: white;
    outline: none;
}



.container-w {
display: flex;
align-items: flex-start;
align-items: center;
gap: 15px;
}

#picsha{
  border: 5px solid #bb86fc;
  height: 320px;
  width: 220px;
  object-fit: cover;
  
}

.image-container{
  justify-content: center;
  align-items: center;
  margin: 0rem;

width: auto;
display: flex;


}

h4 {
  margin: 0;
  margin-bottom: 10px;

}

.container { 
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
}

 .panel-wrapper{
  position: relative;
  display: flex;

 }


.panel, .panel-links {
    border: 5px solid #b478fc;
    background-color: #1a1a1a;
    box-sizing: border-box;
    width: 100%;
}

.panel {
    padding: 0px;
    text-align: center;
}



.panel-links {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Растягивает списки по высоте самого длинного */
    padding: 5px 10px;
}

ul {
  padding: 0rem;
  list-style-type: none;

}



.panel-links ul {
    flex: 1; 
    margin: 0;
    padding: 10px;
    list-style-type: none;
}


 .panel-label{
   position: absolute;
   font-size: 18px;
   left: 15px;
   top: -10px;
   background-color:#bb86fc;
 }

 .link:hover{
   transform: scale(1.1) translateY(-5px); 
  
  /* Добавляем свечение или тень */
  box-shadow: 0 10px 20px rgba(212, 0, 255, 0.545);
  
  /* Можно изменить цвет фона */
  background: #f4a2ff7e;

 }

  .link {
    color: #bb86fc;
    display: block;
    margin-bottom: 1px; /* Удобный отступ между ссылками */
    text-decoration: none;
    transition: all 0.3s ease; 
}

.date-and-time {
text-align:left;
padding: 10px 10px;
}



.clock {  font-size: 45px;;
    color: #bb86fc;
    box-sizing: border-box;
  flex-grow: 1;
}

li{

  font-size: 25px;

}

.a {color: inherit;
  text-decoration-color: currentcolor;}

  .panel, .panel-links {
    box-shadow: 0 0 10px rgba(187, 134, 252, 0.3);
}
